.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}

.login-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
  filter: grayscale(85%);
  -webkit-filter: grayscale(85%);
  opacity: 0.06;
}

.login-card {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 8rem;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-xl);
  background-color: rgba(0, 0, 0, 0.75);
  top: 20px;
}

.login-heading {
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  top: -20px;
}

.login-brand {
  color: var(--color-brand);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  margin-top: 16px;
}

.login-footer {
  margin-top: 1.5rem;
  text-align: center;
}

.login-signup-link {
  color: var(--color-primary);
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-card-fadein {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 3s;
}

.login-interactive-fadein {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 6s;
}